<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/" />
    <add key="ODSPProtect" value="https://onedrive.pkgs.visualstudio.com/DefaultCollection/_packaging/ODSP_Protect/nuget/v3/index.json" />
  </packageSources>
</configuration>